.parent{
    background-color: lightgrey;
    padding: 10px;
}



h2::before{
    content: ">";
    font-size: 20px;
    display: inline;
}

p::before{
    content: open-quote;
}

p::after{
    content: close-quote;
}