.container{
    background-color: lightgrey;
    margin: 5px;
    padding: 5px;
    

    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;

    /* grid-row-gap: 10px;
    grid-column-gap: 10px; */

    grid-gap: 15px 15px;
    


}

.items{
    background-color: blanchedalmond;
    padding: 3px;
    
    
}