.container {
    background-color: rgb(209, 143, 43);
    margin: 2px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    display: grid;
    
}

@media screen and (max-width: 700px){
    .container {
        background-color: aqua;
        width: 48%;
        float: left;
               
    }
}