.parent{
    background-color: gray;
    padding: 20px;
    /* absoluet wrt to parent  */
    /* position: relative; */
    
}
.child1{
    background-color: lightcoral;
    padding: 10px;
    /* relative */
    /* position: relative;
    top: 25px;
    left: 25px; */
    
    /* absolute   */
    /* position: absolute;
    top: 0px;
    left: 0px; */

    /* absolute wrt parent  */
    position: absolute;
    top: 0px;
    left: 0px;

}
.child2{
    background-color: rgb(201, 240, 128);
    padding: 10px;
}
.child3{
    background-color: rgb(128, 240, 221);
    padding: 10px;
}